body{ 
  background: rgb(6, 14, 36);
  display: grid;
  justify-items: center;
  justify-content: center;
  height:100%;
  
  
  
}

header{   
    
  background-image: url('../assets/baniere.png');
  background-color: orange;
  background-size: cover; /* Assure que l'image couvre toute la section */
  background-position: center center;
  background-repeat: no-repeat;
  width:1000px;
  height: 300px;
  display: flex;
  border-bottom: 3px solid rgb(240, 142, 14);
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  
  
}
.section-1{
    
  background-color: rgb(8, 8, 105);
  width: 1000px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin-bottom: 60px;
  border-bottom: 5px solid orange;
  border-radius:0 0 25px 25px;
  padding-top: 60px;
 
}



h1{
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  margin:0px;
}

span{
  
  font-weight: 1000;
}
input{ 
  width:400px;
  height: 30px;
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.596);
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.096);
  border:none;
}
input:hover{
  border: 1px solid rgba(0, 0, 0, 0.164);
}

.validate{
  width: 100px;
  margin-bottom: 20px;

}
.validate:hover{
  background-color: rgb(192, 192, 192) ;
}
.response-container{
  width:400px;
  text-align: left;
  display: block;
}

p{
  color:orange;
  margin-bottom:20px;
}
footer{
    
  background-color: rgb(6, 49, 96);
  display: flex;
  bottom: 0;
  width: 100%;
  justify-content: right;
  border-top: 5px solid orange;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
#contact{
  width: 250px;
  height:30px;
  color: rgb(255, 255, 255);

  position: relative;
  right: 20px;
  
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: cornflowerblue;
  border-radius: 5px;
  border-bottom: 5px solid orange ;
}
a{color:white;}