/**font-family: 'VT323', monospace;**/

body{
    width: 100%;
    background-color: darkblue;
    font-family: 'VT323', monospace;
    margin-top:60px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
header{   
    
    background-image: url('../assets/baniere.png');
    background-color: orange;
    background-size: cover; /* Assure que l'image couvre toute la section */
    background-position: center center;
    background-repeat: no-repeat;
    width:90%;
    height: 300px;
    display: flex;
    border-bottom: 3px solid rgb(240, 142, 14);
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    
}

h1{
    
    color: white;
    text-shadow: 1px 1px 1px orange;
}

p{
    color: white;
}

.cacher{
    display: none;
    transition: 1s;
}

.section-1{
    background: rgb(8, 8, 105);
    width:90%;
    display: flex;
    
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
    padding-bottom: 60px;
    border-bottom: 5px solid orange;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    
    

  
}

#bouton-jouer{
    background-color: orange;
    border-radius: 20px;
    margin: 25px;
    box-shadow: 2px 2px black;
    width: 300px;
    height: 30px;
}

#intro{
   text-align: center;
}

#jouer{
    display: flex;
    flex-direction: row;
    background-color: rgb(243, 221, 180); 
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: left;
}

#autres{
    display: flex;
    flex-direction: column;
    height: auto;
    align-items: center;
    justify-content: right;
}

#myCanvas{
    background-color: blue;
    width: 500px;
    height: 500px;
    margin: 25px;
}

#myCanvas2{
    background-color: blue;
    width: 200px;
    height: 50px;
    border-radius: 5px;
}
footer{
    
    background-color: rgb(6, 49, 96);
    display: flex;
    bottom: 0;
    width: 90%;
    justify-content: right;
    border-top: 5px solid orange;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
#contact{
    width: 250px;
    height:30px;
    color: rgb(255, 255, 255);

    position: relative;
    right: 20px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: cornflowerblue;
    border-radius: 5px;
    border-bottom: 5px solid orange ;
}